.main-section {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  
  .page-heading {
    color: rgb(19, 3, 59);
    font-size: 70px;
  }
  
  .main-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .heading{
    line-height: 125%;
    background: linear-gradient(180deg, #5aa9d9, #a6ceda,  #ffffff);
    height: 200px;
    padding: 30px;
  }